*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url("../img/backgr.jpg");
    background-repeat: no-repeat;
}

#content
{
    width: 1920px;
    height: 1280px;
}

header
{
    width: 1720px;
    height: 194px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

#logo
{
    float: left;
    width: 100px;
    margin-top: 77px;
}

#menu
{
    float: left;
    width: 1520px;
    margin: 0 auto;
}

#search
{
    float: right;
    width: 100px;
    margin-top: 87px;
}

header button
{
    float: right;
    width: 34px;
    height: 19px;
    border: none;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    background: none;
    position: relative;
}

header button::after
{
    content: "";
    width: 90%;
    position: absolute;
    right: 0;
    border-top: 3px solid white;
    top: calc(50% - 2px);
}  

#content ul > li
{
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
}

@font-face
{
    font-family: "myFont";
    src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

#content ul
{
    text-align: center;
    line-height: 194px;
}

#content ul > li > a
{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13.5px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h1
{
    font-size: 135px;
    color: rgb(255,255,255);
    font-family: "myFont";
    text-align: center;
    padding-top: 210px;
}

#content p
{
    font-size: 20px;
    line-height: 32px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    
}

#content section a
{
    color: white;
    width: 163px;
    height: 46px;
    border-radius: 23px;
    background-color: #d96f73;
    text-align: center;
    margin: 0 auto;
    display: block;
    line-height: 46px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 95px;
}

hr
{
    width: 450px;
    margin: 0 auto;
    height: 1px;
    background: #d96f73;
    border: 0px;
    position: relative;
    bottom: 23px;
    z-index: -1;
}

button.lines
{
    display: block;
    margin: 0 auto;
    width: 1px;
    height: 190px;
    border: none;
    background-color: #d96f73;
    margin-top: 70px;
    box-shadow: 5px 20px 0px 0px rgba(217,111,115,1);
}


button.play
{    
    display: block;
    margin: 65px auto 0;
    border: none;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: url("../img/play.png") no-repeat;
    background-position: 55% 53%;
    width: 5.125rem;
    height: 5.125rem;
    cursor: pointer;
}

#images, #bottom
{
    width: 1920px;
}

#img1
{
    background-image: url("../img/img1.jpg")
}

#img2
{
    background-image: url("../img/img2.jpg")
}

#img3
{
    background-image: url("../img/img3.jpg")
}

#img4
{
    background-image: url("../img/img4.jpg")
}

.images
{
    width: 480px;
    height: 500px;
    float: left;
}

#fol
{
    margin-left: 200px;
    width: 360px;
    height: 405px;
}

#get
{
    width: 410px;
    height: 405px;
}

#loc
{
    width: 390px;
    height: 405px;
}

#our
{
    width: 560px;
    height: 405px;
}

h3
{
    margin-top: 345px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 18px;
    padding-bottom: 15px;
    cursor: pointer;
}

#images p
{
    text-align: center;
    color: white;
    font-family: "Georgia";
    font-style: italic;    
    font-size: 18px;
}

.botom-menu
{
    padding-top: 115px;
    float: left;
}

h4
{
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;    
}

#bottom ul > li
{
    list-style: none;
}

#bottom a
{
    text-decoration: none;
    font-family: "Georgia";
    font-style: italic;;
    line-height: 26px;
    color: #212121;
    font-size: 14px;
}

footer
{
    width: 100%;
    height: 97px;
    background-color: black;
}

footer p
{
    color: white;
    text-align: center;
    line-height: 97px;
    font-size: 12px;
    font-family: "Georgia";
    font-style: italic;
    opacity: .6;
}

.clear
{
    clear: both;
}